        *:not(.overflow-scrollbar) {
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; }
        *:not(.overflow-scrollbar)::-webkit-scrollbar {
          display: none; }
   
      * a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        transition: 300ms; }

      .hint, .bet-box--result__value--name {
        color: #fff;
        border-color: #4272b4; }

      .user-select-text {
        user-select: text !important; }
        .user-select-text * {
          user-select: text !important; }

      .onclick {
        cursor: pointer; }
      
      .width-auto {
        width: auto !important; }
      

      .no-padding {
        padding: 0 !important; }
     
      
      .text-elipsis, .dropdown-menu__element > button span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
     
      .loader {
        display: none; }
      
        .button-submit {
          font-size: 16px !important;
          background-color: #1dbb2f;
          width: 100%;
          padding: 15px 20px;
          text-align: center;
          border-radius: 3px;
          margin: 0;
          height: unset !important;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center; }

          .button-submit > * {
            z-index: 2;
            position: relative; }
          .button-submit:before {
            content: '';
            display: block;
            position: absolute;
            width: 120%;
            height: 100%;
            background: #20d135;
            top: -50%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 100%;
            z-index: 1; }
          .button-submit:disabled {
            background-color: #168f24;
            color: #dbdbdb; }
            .button-submit:disabled:before {
              background: #189c27; }
          @media (max-width: 1450px) {
            .button-submit {
              padding: 10px 15px; } }
          @media (min-width: 821px) {
            .button-submit {
              width: auto; } }
          @media (max-width: 400px) {
            .button-submit {
              padding: 10px 15px; } }
        .button-clear {
          font-size: 12px !important;
          font-weight: 500;
          padding: 10px 18px;
          margin: 0 5px;
          border-radius: 3px;
          background-color: transparent;
          color: white;
          transition: 300ms;
          cursor: pointer;
          touch-action: manipulation;
          border: 1px solid transparent;
          position: relative; }
          @media (min-width: 821px) {
            .button-clear {
              font-size: 16px !important; } }
          @media (min-width: 1451px) {
            .button-clear {
              font-size: 18px !important; } }
          .button-clear:disabled {
            background-color: rgba(0, 0, 0, 0);
            cursor: default; }
          @media (min-width: 821px) {
            .button-clear {
              border-radius: 5px; } }

      .dropdown {
        position: relative;
        width: unset; }
        .dropdown * {
          cursor: pointer !important; }
        .dropdown .dropdown-menu {
          top: 100%;
          background-color: #192C38;
          color: #fffdff;
          z-index: 9999;
          left: 0;
          width: 100%;
          min-width: unset; }
      
      .dropdown-menu {
        position: absolute;
        top: 90px;
        right: 5px;
        min-width: 160px;
        border-radius: 5px;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        transition: visibility .2s linear, opacity .2s linear; }
        .dropdown-menu__visible {
          opacity: 1;
          visibility: visible; }
        .dropdown-menu nav {
          display: flex;
          flex-direction: column; }
        .dropdown-menu__element {
          display: flex;
          justify-content: space-between;
          font-weight: 500;
          padding: 5px 10px;
          cursor: pointer;
          transition: background .15s linear;
          white-space: nowrap; }
          .dropdown-menu__element > button {
            max-width: 50vw; }
            .dropdown-menu__element > button .relative {
              display: flex;
              align-items: center; }
            .dropdown-menu__element > button img {
              height: 30px;
              margin-right: 10px; }
            .dropdown-menu__element > button span {
              max-width: inherit;
              display: inline-block; }
          .dropdown-menu__element:first-child {
            border-radius: 5px 5px 0 0; }
          .dropdown-menu__element:last-child {
            border-radius: 0 0 5px 5px; }
          .dropdown-menu__element:hover {
            background: #15222D; }
        @media (max-width: 1450px) {
          .dropdown-menu {
            top: 75px; }
            .dropdown-menu__element {
              padding: 3px 7px; }
              .dropdown-menu__element > button img {
                margin-right: 7px; } }
      
      .main {
        float: left;
        width: 100%;
        min-height: calc(100vh - 180px);
        display: flex;
        flex-direction: column;
        background-color: #0c1420;
        color: #fffdff;
        position: relative; }
      
      /*!
       * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
       */
      .flag {
        display: inline-block;
        width: 48px;
        height: 48px;
        background: url(../img/7888ca55f9b547387a7e3b7766236fcb.png) no-repeat; }
      
      .flag.flag-id {
        background-position: -720px -240px; }
      
      .flag.flag-ph {
        background-position: -480px -480px; }
      
      .flag.flag-ru {
        background-position: -288px -528px; }
      
      
      .flag.flag-en {
        background-position: -432px -192px; }
      
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      
       .input:disabled:not(.input-message) {
        color: #a8a8a8;
        opacity: 0.9 !important;
        background-color: rgba(7, 35, 73, 0.87); }
      
       .input:focus, .input:active {
        background-color: #192C38; }
      
      .game-icon {
        display: inline-block;
        font-size: 16px; }
        .game-icon img {
          height: 16px; }
      
      @keyframes Blink {
        0% {
          color: white; }
        50% {
          color: #a8a8a8; }
        100% {
          color: white; } }
      
      .vip-image {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .vip-image img {
          height: 100%; }
      
      h1 {
        font-size: 24px !important; }
        @media (min-width: 821px) {
          h1 {
            font-size: 26px !important; } }
        @media (min-width: 1451px) {
          h1 {
            font-size: 30px !important; } }
      
      h1 {
        margin: 0; }
      
       .flex-start-column, .flex-vertical-center, .flex-space-between, .bet-box--result__value {
        display: flex !important; }
      
       .flex-start-column {
        flex-direction: column; }
      
      .flex-start-column {
        align-items: flex-start !important; }
      
      .flex-vertical-center {
        align-items: center !important; }
      
      .flex-space-between {
        justify-content: space-between; }
      
      [class*="page-"].chat-visible .currency-logo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        width: 15px;
        height: 15px; }
        [class*="page-"].chat-visible .currency-logo:before {
          font-size: 15px;
          width: 12px;
          height: 12px; }
        @media (min-width: 1141px) {
          [class*="page-"].chat-visible .currency-logo {
            width: 20px;
            height: 20px; }
            [class*="page-"].chat-visible .currency-logo:before {
              font-size: 20px;
              width: 17px;
              height: 17px; } }
      
      @media (min-width: 1451px) {
        [class*="page-"].chat-visible .currency-logo {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          text-align: left;
          width: 15px;
          height: 15px; }
          [class*="page-"].chat-visible .currency-logo:before {
            font-size: 15px;
            width: 12px;
            height: 12px; } }
        @media (min-width: 1451px) and (min-width: 1191px) {
          [class*="page-"].chat-visible .currency-logo {
            width: 20px;
            height: 20px; }
            [class*="page-"].chat-visible .currency-logo:before {
              font-size: 20px;
              width: 17px;
              height: 17px; } }
      
      [class*="page-"]:not(.chat-visible) .currency-logo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        width: 15px;
        height: 15px; }
        [class*="page-"]:not(.chat-visible) .currency-logo:before {
          font-size: 15px;
          width: 12px;
          height: 12px; }
        @media (min-width: 821px) {
          [class*="page-"]:not(.chat-visible) .currency-logo {
            width: 20px;
            height: 20px; }
            [class*="page-"]:not(.chat-visible) .currency-logo:before {
              font-size: 20px;
              width: 17px;
              height: 17px; } }
      
      .icon-wrapper {
        position: relative;
        padding-right: 20px;
        display: inline-block; }
        .icon-wrapper [class*="icon"] {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 50%;
          transform: translateY(-50%);
          right: 0; }
      
      .icon__arrow-down {
        margin-top: -2px; }
        .icon__arrow-down:after {
          content: '';
          width: 6px;
          height: 6px;
          display: block;
          border-right: 2px solid #213843;
          border-bottom: 2px solid #213843;
          transform: rotate(45deg); }
      
      ul {
        font-size: 12px !important; }
        @media (min-width: 821px) {
          ul {
            font-size: 16px !important; } }
        @media (min-width: 1451px) {
          ul {
            font-size: 18px !important; } }
        .list--no-style {
          list-style: none;
          margin: 0;
          padding: 0; }
      
      @keyframes SlideLabelUp {
        0% {
          bottom: -100%; }
        100% {
          bottom: 30px; } }
      
      @keyframes SlideLabelDown {
        0% {
          opacity: 0; }
        90% {
          opacity: 0; }
        100% {
          opacity: 1; } }
      
      .cc {
        display: flex !important;
        justify-content: center;
        align-items: center; }
        .cc:before {
          background-color: white;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
      
      .ETH {
        color: #a1d4e4; }
        .ETH:before {
          background-color: #2c2c2c; }
      
      .chat-toggle {
        position: fixed;
        height: 50px;
        width: 50px;
        background-color: #192C38;
        box-shadow: 0 0 17px 0 rgb(25, 44, 56);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        z-index: 10;
        bottom: 20px;
        cursor: pointer;
        transition: 300ms;
        right: 20px;
        transition: right 300ms; }
        .chat-toggle:hover {
          opacity: 0.8; }
        /* @media (max-width: 820px) {
          .chat-toggle {
            display: none !important; } 
        } */
      
      [class*="page-"].chat-visible .chat-toggle {
        right: calc(320px + 20px); }
      
      @media (min-width: 1451px) {
        [class*="page-"].chat-visible .chat-toggle {
          right: calc(370px + 20px); } }
      
      .chat-header {
        height: 55px;
        background-color: #192C38;
        display: flex;
        align-items: center;
        padding: 0 5px;
        justify-content: space-between; }
        .chat-header .chat-rules {
          font-size: 1rem !important; }
          @media (min-width: 821px) {
            .chat-header .chat-rules {
              font-size: 1rem !important; } }
          @media (min-width: 1451px) {
            .chat-header .chat-rules {
              font-size: 1rem !important; } }
          .chat-header .chat-rules:hover {
            opacity: 0.7; }
        .chat-header .fa-info-circle {
          padding: 5px;
          transition: 300ms; }
        .chat-header .dropdown-menu {
          right: 0; }
        .chat-header .dropdown > .button {
          margin: 0; }
        .chat-header .button,
        .chat-header .dropdown-menu__element {
          display: flex;
          align-items: center;
          padding: 7px !important;
          height: unset;
          cursor: default;
          font-size: 10px !important; }
          @media (min-width: 821px) {
            .chat-header .button,
            .chat-header .dropdown-menu__element {
              font-size: 12px !important; } }
          @media (min-width: 1451px) {
            .chat-header .button,
            .chat-header .dropdown-menu__element {
              font-size: 16px !important; } }
          .chat-header .button.icon-wrapper,
          .chat-header .dropdown-menu__element.icon-wrapper {
            padding-right: 25px !important; }
            .chat-header .button.icon-wrapper .icon__arrow-down,
            .chat-header .dropdown-menu__element.icon-wrapper .icon__arrow-down {
              right: 10px; }
          .chat-header .button .flag,
          .chat-header .dropdown-menu__element .flag {
            transform: scale(0.5);
            margin: -20px -5px -20px -10px; }
        .chat-header .dropdown {
          width: 120px; }
      
      @media (min-width: 821px) {
        .chat-header {
          height: 46px;
          padding: 10px; } }
      
      @media (min-width: 1451px) {
        .chat-header {
          height: 45px; } }
      
      .chat-wrapper {
        position: fixed;
        height: calc(100% - 60px + 5px);
        width: 100vw;
        top: 0;
        right: 0;
        background: #15222D;
        z-index: 20;
        transition: right 300ms; }
        .chat-wrapper--hidden {
          right: -100vw; }
      
      @media (min-width: 821px) {
        .chat-wrapper {
          max-width: 320px;
          height: 100vh; }
          .chat-wrapper--hidden {
            right: -100vw; } }

      @media (max-width: 821px) {
        .chat-wrapper {
          max-width: 100%;
          height: 100%; }
          .chat-wrapper--hidden {
            right: -100vw; } }
      
      @media (min-width: 1451px) {
        .chat-wrapper {
          max-width: 370px;
          height: 100vh; }
          .chat-wrapper--hidden {
            right: -100vw; } }
      
      .chat-main {
        height: calc(100% - 55px - 75px);
        padding: 5px; }
      
      @media (min-width: 821px) {
        .chat-main {
          height: calc(100% - 46px - 100px);
          padding: 10px; } }
      
      @media (min-width: 1451px) {
        .chat-main {
          height: calc(100% - 45px - 100px); } }
      
      .chat-stream {
        height: 100%;
        overflow: auto;
        position: relative; }
      
      .chat-input {
        height: 75px; }
        .chat-input--textarea-box {
          position: relative; }
          .chat-input--textarea-box i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
            color: #a0ccff;
            cursor: pointer; }
            .chat-input--textarea-box i:hover {
              opacity: 0.8; }
        .chat-input textarea, .chat-input--bottom-box {
          margin: 0 5px;
          width: calc(100% - 10px); }
        .chat-input textarea::placeholder {
          font-size: 10px !important; }
          @media (min-width: 821px) {
            .chat-input textarea::placeholder {
              font-size: 12px !important; } }
          @media (min-width: 1451px) {
            .chat-input textarea::placeholder {
              font-size: 14px !important; } }
        .chat-input textarea {
          resize: none;
          height: unset;
          font-size: 10px !important;
          border-radius: 3px;
          line-height: 1.5;
          padding: 10px; }
          @media (min-width: 821px) {
            .chat-input textarea {
              font-size: 12px !important; } }
          @media (min-width: 1451px) {
            .chat-input textarea {
              font-size: 14px !important; } }
        .chat-input--bottom-box {
          display: flex;
          margin-top: 5px;
          justify-content: space-between;
          align-items: center; }
        .chat-input--submit-box {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .chat-input--submit-box .button {
            padding: 4px 5px;
            height: unset;
            font-size: 12px !important;
            min-width: 40px;
            margin: 0 3px; }
            @media (min-width: 821px) {
              .chat-input--submit-box .button {
                font-size: 14px !important; } }
            .chat-input--submit-box .button-submit {
              padding: 5px 15px; }
        .chat-input--limit {
          margin-right: 7px; }
        .chat-input--online, .chat-input--limit {
          font-size: 10px !important; }
          @media (min-width: 821px) {
            .chat-input--online, .chat-input--limit {
              font-size: 12px !important; } }
        .chat-input--online {
          padding-left: 13px;
          position: relative; }
          .chat-input--online:before {
            content: '';
            display: block;
            position: absolute;
            height: 7px;
            width: 7px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 100%;
            background-color: #1dbb2f; }
      
      @media (min-width: 821px) {
        .chat-input {
          height: 100px; }
          .chat-input textarea, .chat-input--bottom-box {
            margin: 0 10px;
            width: calc(100% - 20px); }
          .chat-input textarea {
            border-radius: 5px;
            padding-right: 40px; }
          .chat-input--bottom-box {
            margin-top: 7px; }
          .chat-input--submit-box .button {
            padding: 9px 10px; }
            .chat-input--submit-box .button-submit {
              padding: 10px 20px; }
          .chat-input--limit {
            margin-right: 7px; } }
      
      @media (min-width: 1451px) {
        .chat-input {
          height: 100px; } }
      
      .chat-stream__message {
        background-color: rgba(255, 255, 255, 0.01);
        margin-top: 5px;
        padding: 5px;
        font-size: 0.8rem !important;
        border-radius: 5px;
        line-height: 1.5;
        color: #B7BFD6;
        position: relative; }
        @media (min-width: 821px) {
          .chat-stream__message {
            font-size: 12px !important; } }
        @media (min-width: 1451px) {
          .chat-stream__message {
            font-size: 14px !important; } }
        .chat-stream__message > .user-name:hover {
          opacity: 1;
          color: #fffdff; }
        .chat-stream__message:nth-of-type(even) {
          background-color: rgba(255, 255, 255, 0.05); }
        .chat-stream__message h5 {
          margin: -7px -7px 7px;
          padding: 4px 7px;
          background-color: rgba(31, 136, 255, 0.5);
          font-size: 10px !important;
          color: #fffdff;
          position: relative;
          border-radius: 5px 5px 0 0; }
          @media (min-width: 821px) {
            .chat-stream__message h5 {
              font-size: 12px !important; } }
          @media (min-width: 1451px) {
            .chat-stream__message h5 {
              font-size: 14px !important; } }
          @media (max-width: 1450px) {
            .chat-stream__message h5 {
              border-radius: 3px 3px 0 0;
              margin: -5px -5px 5px; } }
          .chat-stream__message h5 i {
            margin-right: 5px; }
        .chat-stream__message--user {
          float: left;
          margin-right: 5px; }
          .chat-stream__message--user .vip-image {
            margin-top: -2px; }
        .chat-stream__message__box {
          display: inline-block;
          margin: 0;
          width: 100%; }
        .chat-stream__message__text {
          white-space: pre-wrap;
          word-break: break-word;
          color: #fffdff; }
          .chat-stream__message__text h5 {
            margin: 0; }
            .chat-stream__message__text h5 i,
            .chat-stream__message__text h5 .game-icon {
              font-size: 12px !important; }
              .chat-stream__message__text h5 i img,
              .chat-stream__message__text h5 .game-icon img {
                height: 9px;
                margin-right: 3px; }
            .chat-stream__message__text h5 .small-text {
              font-size: 10px !important; }
              @media (min-width: 821px) {
                .chat-stream__message__text h5 .small-text {
                  font-size: 10px !important; } }
          .chat-stream__message__text a:not(.user-name) {
            text-decoration: underline; }
          .chat-stream__message__text > a.user-name {
            margin-top: -1px;
            background: rgba(31, 136, 255, 0.41);
            border-radius: 3px;
            padding: 1px 3px 1px 2px;
            white-space: nowrap; }
          .chat-stream__message__text .bet-id {
            padding: 5px; }
          .chat-stream__message__text .box-wrapper {
            border: 1px solid rgb(33, 45, 56);
            display: inline;
            position: static;
            max-width: 100%;
            margin: 5px 0;
            background-color: #15222D;
            overflow: hidden;
            border-radius: 3px !important; }
            @media (min-width: 821px) {
              .chat-stream__message__text .box-wrapper {
                border-radius: 5px !important; } }
            .chat-stream__message__text .box-wrapper h5 {
              border-radius: 0 !important; }
          .chat-stream__message__text > * {
            margin-right: 3px; }
      
      @media (min-width: 821px) {
        .chat-stream__message {
          margin-top: 7px;
          padding: 7px; } }
      
      @media (min-width: 821px) {
        #app > [class*='page-'] {
          transition: width 300ms; }
        #app > [class*='page-'].chat-visible {
          width: calc(100% - 320px); } }
      
      @media (min-width: 1451px) {
        #app > [class*='page-'].chat-visible {
          width: calc(100% - 370px); } }
      
      @keyframes FadeOut {
        0% {
          opacity: 1; }
        100% {
          opacity: 0.4; } }
      
      .user-name [class*="fa-"] {
        margin-right: 5px; }
      
      .user-name .vip-image {
        height: 100%;
        display: inline-block;
        position: relative;
        margin-right: 5px; }
        .user-name .vip-image img {
          top: 3px;
          height: 15px;
          position: relative; }
      
      @media (max-width: 820px) {
        .user-name .vip-image img {
          top: 2px;
          height: 13px; } 
      }
      
      @media (min-width: 1451px) {
        .user-name .vip-image img {
          top: 3px;
          height: 17px; } }

      .rain {
        background: url(https://cdn.statically.io/gh/cryptodiceio/cryptodice-public/564776e3/chatRain.svg);
        background-position: center;
        background-size: 160%;
        animation-fill-mode: forwards;
      }

      .chat-rain-intro {
        font-size: 0.8rem;
      }

      @media (max-width: 820px) {
        .chat-rain-intro {
          font-size: 0.6rem;
        }
      }
      
      /*
      
      Darcula color scheme from the JetBrains family of IDEs
      
      */
      
      code {
        border-radius: 3px;
        padding: 10px !important; }
        @media (min-width: 821px) {
          code {
            border-radius: 5px;
            padding: 15px !important; } }
      
      .users-list {
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translate(-50%, -100%);
        width: calc(100% - 20px);
        border-radius: 5px;
        max-height: 300px;
        overflow-y: auto;
        background-color: #072349; }
        .users-list li {
          padding: 10px 15px;
          background-color: rgba(31, 136, 255, 0.5);
          cursor: pointer;
          font-size: 10px !important; }
          @media (min-width: 821px) {
            .users-list li {
              font-size: 12px !important; } }
          @media (min-width: 1451px) {
            .users-list li {
              font-size: 14px !important; } }
          .users-list li:hover {
            opacity: 0.7;
            transition: opacity 300ms; }
          .users-list li:nth-of-type(even) {
            background-color: #072349; }
          .users-list li i {
            position: static;
            top: unset;
            transform: unset;
            right: unset;
            margin-right: 5px;
            color: #fffdff; }
        @media (max-width: 820px) {
          .users-list {
            border-radius: 3px; } }
      
      .bet-box {
        padding: 5px !important; }
        .bet-box .game-icon {
          font-size: 14px; }
        .bet-box--title {
          line-height: 1.2;
          margin-bottom: 5px; }
  
          .bet-box--title__details .hint, .bet-box--title__details .bet-box--result__value--name {
            font-size: 10px !important; }
          .bet-box--title .user-name {
            margin-right: 3px;
            font-size: 11px !important; }
            .bet-box--title .user-name i {
              font-size: 11px !important; }
       
        .bet-box--result__row {
          margin: 0 -2.5px 5px;
          width: calc(100% + 5px); }
          .bet-box--result__row:last-of-type {
            margin-bottom: 0; }
        .bet-box--result__value {
          text-align: center;
          float: left;
          height: 35px;
          margin: 0 2.5px;
          background-color: #192C38;
          padding: 1.66667px;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border-radius: 3px !important;
          font-size: 10px !important;
          font-weight: 900; }
          @media (min-width: 821px) {
            .bet-box--result__value {
              border-radius: 5px !important; } }
          .bet-box--result__value .currency-logo {
            display: inline-flex !important; }
          .bet-box--result__value:first-of-type {
            width: calc(25% - 5px); }
          .bet-box--result__value:nth-of-type(2) {
            width: calc(75% - 5px); }
 
      
.drop {
  background: -webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6)) );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
  width: 1px;
  height: 25px;
  position: absolute;
  bottom: 0;
  -webkit-animation: fall .5s ease-out infinite;
  -moz-animation: fall .5s  ease-out infinite;
  transform: rotate(45deg);
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}

.rain_box h5{
  overflow: hidden;
}

.rain_box_content p{    display: inline-block;
  line-height: 1;
  margin: 0;
  float: left;}
  .rain_box_content ul{
    margin: 0;
    float: left;
    padding: 0;
  }
  .rain_box_content ul li{
    background: #B7BFD6;
    padding: 0px 6px 2px;
    border-radius: 3px;
    line-height: 1;
    display: inline-block;
    margin: 0px 2px 1px;
  }
  .rain_box_content ul li a{
    margin: 0;
    color: #000;
    padding: 0;
    line-height: 1;
    font-size: 0.75rem;
  }
  .rain_box_content{
    display: inline-block;
  }

.role-block {
    margin-left: 0.2rem;
    position: relative;
    color: #fff;
    padding: 2px 4px;
    border-radius: 30px;
    font-size: 9px;
    line-height: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: Open Sans,sans-serif;
    background: rgb(139, 187, 76);
}